:root {
  --background-color: #f4f4f4;
  --text-color: #000000;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  /*color: var(--text-color);*/
}

/*body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}*/

/*--- navbar styling ---*/
.nav-list {
    margin-top: 0;
    list-style-type: none;
    background-color: #AFF4C6;
    padding: 5px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-inner-1, .nav-inner-2 {
  display: flex;
}

.nav-flex {
    margin-left: 30px;
}
  
.nav-item {
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
    padding: 5px;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #dcffe7;
}

.logout-button {
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
    padding: 5px;
    border-radius: 5px;
}

.logout-button:hover {
  background-color: #dcffe7;
}

/*-------- Login/register styling --------*/
.form-container {
  text-align: center;
}

.login-container {
  background-color: #AFF4C6;
}

.inner-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  margin-top: 110px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-label {
  margin-bottom: 10px;
}

.input-field {
  width: 300px;
  height: 35px;
}

.form-submit-button {
  border: none;
  background-color: #AFBBF4;
  padding: 8px;
  width: 310px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.4s ease;
  font-size: medium;
  margin-bottom: 5px;
  margin-top: 5px;
}

.form-submit-button:hover {
  background-color: #c9d1fb;
}

.form-bold-link {
  text-decoration: none;
  color: black;
  transition: 0.4s ease;
}

.form-bold-link:hover {
  text-decoration: underline;
}

/*-------- dashboard styling --------*/
.dashboard-container {
  display: flex;
  justify-content: space-between;
}

.dashboard-left, .dashboard-right {
  width: 47%;
}

.dashboard-left {
  margin-left: 28px;
  margin-top: 20px;
}

.dashboard-right {
  margin-right: 28px;
  margin-top: 20px;
}

/*-------- daily task styling --------*/
.light-theme .todo-container {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.dark-theme .todo-container {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #26262a;
  color: white;
  border-radius: 5px;
}

.todo-title {
  text-align: center;
}

.todo-list {
  list-style: none;
  margin-left: -40px;
  height: 110px;
  overflow-y: auto;
}
  
.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 99%;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
}
  
.light-theme .todo-form {
  height: 30px;
  padding: 3px;
  word-wrap: break-word;
  width: 85%;
  border: 1px solid black;
  border-radius: 5px;
}

.dark-theme .todo-form {
  height: 30px;
  padding: 3px;
  word-wrap: break-word;
  width: 85%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #37373c;
  color: white;
}
  
.light-theme .todo-button {
  margin-left: 15px;
  cursor: pointer;
  background-color: #AFBBF4;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  height: 35px;
  transition: 0.4s ease;
}

.dark-theme .todo-button {
  margin-left: 15px;
  cursor: pointer;
  background-color: rgb(93, 96, 249);
  color: white;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  height: 35px;
  transition: 0.4s ease;
}
  
.light-theme .todo-button:hover {
  background-color: #c8cfef;
}

.dark-theme .todo-button:hover {
  background-color: rgb(133, 135, 255);
}
  
.delete-button {
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 8px 5px 8px;
  transition: 0.4s ease;
  order: 1;
}
  
.delete-button:hover {
  background-color: #e2e1e1;
  cursor: pointer;
}

.tick-button {
  cursor: pointer;
  transition: 0.4s ease;
  font-size: large;
}

.tick-button:hover {
  background-color: #e2e1e1;
  opacity: 50%;
}

.light-theme .view-all-button {
  text-decoration: none;
  color: black;
  transition: 0.4s ease;
}

.dark-theme .view-all-button {
  text-decoration: none;
  color: black;
  transition: 0.4s ease;
  color: white;
}

.view-all-button:hover {
  text-decoration: underline;
}

/*-------- container plus icons --------*/
.plus-icon {
  align-self: center;
  margin-right: 15px;
  font-size: large;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  transition: 0.4s ease;
}

.light-theme .plus-icon:hover {
  background-color: #e2e1e1;
}

.dark-theme .plus-icon:hover {
  background-color: #37373c;
}

/*-------- countdown styling --------*/
.light-theme .timer-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.dark-theme .timer-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #26262a;
  color: white;
  border-radius: 5px;
}

.timer-flex {
  display: flex;
  justify-content: space-between;
}

.light-theme .timer-flex select {
  border-radius: 5px;
  padding: 8px 10px;              
  border: 1px solid black;
}

.dark-theme .timer-flex select {
  border-radius: 5px;
  padding: 8px 10px;              
  border: 1px solid black;
  background-color: #37373c;
  color: rgb(170, 170, 170);
}

.timer-flex h3 {
  margin-left: 10px;
}

.timer-time {
  text-align: center;
}

.timer-dropdown {
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.timer-controls {
  margin-bottom: 10px;
}

.light-theme .timer-button {
  margin-left: 10px;
  padding: 5px;
  border: none;
  background-color: #AFBBF4;
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  transition: 0.4s ease;
}

.dark-theme .timer-button {
  margin-left: 10px;
  padding: 5px;
  border: none;
  background-color: rgb(93, 96, 249);
  color: white;
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  transition: 0.4s ease;
}

.light-theme .timer-button:hover {
  background-color: #c8cfef;
}

.dark-theme .timer-button:hover {
  background-color: rgb(133, 135, 255);
}

.moodbuttons-container {
  margin-bottom: 20px;
}

/*-------- date styling --------*/
.light-theme .date-container {
  text-align: center;
  background-color: white;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 40px 1px 40px;
  border-radius: 5px;
  line-height: 0.6;
}

.dark-theme .date-container {
  text-align: center;
  color: white;
  background-color: #26262a;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 40px 1px 40px;
  border-radius: 5px;
  line-height: 0.6;
}

/*-------- gratitude styling --------*/
.light-theme .gratitude-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.dark-theme .gratitude-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #26262a;
  color: white;
  border-radius: 5px;
}

.gratitude-flex {
  display: flex;
  justify-content: space-between; 
}

.grat-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.light-theme .grat-form-container {
  width: 450px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}

.dark-theme .grat-form-container {
  width: 450px;
  background-color: #26262a;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}

.grat-form-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.grat-form-container form {
  display: flex;
  flex-direction: column;
}

.grat-form-container label {
  margin-bottom: 0px;
}

.light-theme .grat-form-container input {
  width: 98.5%;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

.dark-theme .grat-form-container input {
  width: 98.5%;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #37373c;
  color: white;
}

.light-theme .grat-submit-button {
  margin-top: -2px;
  margin-bottom: 30px;
  border: none;
  border-radius: 25px;
  padding: 7px;
  background-color: #AFBBF4;
  transition: 0.4s ease;
  cursor: pointer;
}

.dark-theme .grat-submit-button {
  margin-top: -2px;
  margin-bottom: 30px;
  border: none;
  border-radius: 25px;
  padding: 7px;
  background-color: rgb(93, 96, 249);
  color: white;
  transition: 0.4s ease;
  cursor: pointer;
}

.light-theme .grat-submit-button:hover {
  background-color: #c8cfef;
}

.dark-theme .grat-submit-button:hover {
  background-color: rgb(133, 135, 255);
}

.light-theme .grat-close-button {
  align-self: flex-start;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: 0.4s ease;
  margin-left: -5px;
  margin-top: -5px;
}

.dark-theme .grat-close-button {
  align-self: flex-start;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #26262a;
  color: white;
  cursor: pointer;
  transition: 0.4s ease;
  margin-left: -5px;
  margin-top: -5px;
}

.light-theme .grat-close-button:hover {
  background-color: #e2e1e1;
}

.dark-theme .grat-close-button:hover {
  background-color: #37373c;
}

.gratitude-item {
  margin-top: -3px;
  margin-left: 10px;
}

.gratitude-flex h3 {
  margin-left: 10px;
}

/*-------- check in styling --------*/
.light-theme .checkin-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.dark-theme .checkin-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #26262a;
  color: white;
  border-radius: 5px;
}

.checkin-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.light-theme .checkin-form-container {
  width: 450px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}

.dark-theme .checkin-form-container {
  width: 450px;
  background-color: #26262a;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}

.checkin-form-container h2 {
  text-align: center; 
  margin-bottom: 30px;
}

.checkin-form-container form {
  display: flex;
  flex-direction: column;
}

.checkin-form-container label {
  margin-bottom: 5px;
  margin-top: 5px;
}

.light-theme .checkin-form-container select {
  width: 100%;                 
  padding: 8px 10px;              
  border: 1px solid black;       
  border-radius: 4px;           
  background-color: white;        
  color: #333;                    
  cursor: pointer;                 
  outline: none;   
  margin-bottom: 10px;        
}

.dark-theme .checkin-form-container select {
  width: 100%;                 
  padding: 8px 10px;              
  border: 1px solid black;       
  border-radius: 4px;           
  background-color: #37373c;
  color: rgb(170, 170, 170);                           
  cursor: pointer;                 
  outline: none;   
  margin-bottom: 10px;        
}

.light-theme .checkin-submit-button {
  margin-top: 13px;
  margin-bottom: 30px;
  border: none;
  border-radius: 25px;
  padding: 7px;
  background-color: #AFBBF4;
  transition: 0.4s ease;
  cursor: pointer;
}

.dark-theme .checkin-submit-button {
  margin-top: 13px;
  margin-bottom: 30px;
  border: none;
  border-radius: 25px;
  padding: 7px;
  background-color: rgb(93, 96, 249);
  color: white;
  transition: 0.4s ease;
  cursor: pointer;
}

.light-theme .checkin-submit-button:hover {
  background-color: #c8cfef;
}

.dark-theme .checkin-submit-button:hover {
  background-color: rgb(133, 135, 255);
}

.moodbuttons-container {
  display: flex;            
  justify-content: center;  
  align-items: center;         
  flex-wrap: wrap;   
  margin: 10px 0;    
  margin-bottom: 15px;   
}

.light-theme .mood-button {
  background-color: #AFBBF4;
  color: black;
  margin: 0 8px;
  border: none;
  padding: 18px 20px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 5px;
}

.dark-theme .mood-button {
  background-color: rgb(93, 96, 249);
  color: white;
  margin: 0 8px;
  border: none;
  padding: 18px 20px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 5px;
}

.light-theme .mood-button:hover {
  background-color: #c9d1fb;
}

.dark-theme .mood-button:hover {
  background-color: rgb(133, 135, 255);
}

.light-theme .mood-button.selected {
  background-color: #c9d1fb;
}

.dark-theme .mood-button.selected {
  background-color: rgb(133, 135, 255);
}

.checkin-text {
  margin-top: -3px;
  margin-left: 10px;
}

.check-in-feeling {
  text-align: center;
}

/*-------- affirmation form --------*/
.light-theme .affirmation-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.dark-theme .affirmation-container {
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  background-color: #26262a;
  border-radius: 5px;
}

.affirmation-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.light-theme .affirmation-form-container {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 230px;
}

.dark-theme .affirmation-form-container {
  position: relative;
  background-color: #26262a;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 230px;
}

.affirmation-form-container h2 {
  text-align: center; 
  margin-bottom: 30px;
}

.affirmation-form-container p {
  text-align: center; 
  margin-bottom: 30px;
}

.affirmation-form-container form {
  display: flex;
  flex-direction: column;
}

.affirmation-repetitions {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.affirmation-button-flex {
  display: flex;
  justify-content: space-between;
}

.light-theme .affirmation-count-up {
  background-color: #AFBBF4;
  transition: 0.4s ease;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  font-size: larger;
  padding-left: 14px;
  padding-right: 14px;
}

.dark-theme .affirmation-count-up {
  background-color: rgb(93, 96, 249);
  color: white;
  transition: 0.4s ease;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  font-size: larger;
  padding-left: 14px;
  padding-right: 14px;
}

.light-theme .affirmation-count-up:hover {
  background-color: #c9d1fb;
}

.dark-theme .affirmation-count-up:hover {
  background-color: rgb(133, 135, 255);
}

.light-theme .affirmation-next {
  background-color: #AFBBF4;
  transition: 0.4s ease;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 7px;
  padding-left: 12px;
  padding-right: 14px;
}

.dark-theme .affirmation-next {
  background-color: rgb(93, 96, 249);
  color: white;
  transition: 0.4s ease;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 7px;
  padding-left: 12px;
  padding-right: 14px;
}

.light-theme .affirmation-next:hover {
  background-color: #c9d1fb;
}

.dark-theme .affirmation-next:hover {
  background-color: rgb(133, 135, 255);
}

.light-theme .affirmation-reset-count {
  background-color: #AFBBF4;
  border: none;
  transition: 0.4s ease;
  border-radius: 25px;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.dark-theme .affirmation-reset-count {
  background-color: rgb(93, 96, 249);
  color: white;
  border: none;
  transition: 0.4s ease;
  border-radius: 25px;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.light-theme .affirmation-reset-count:hover {
  background-color: #c9d1fb;
}

.dark-theme .affirmation-reset-count:hover {
  background-color: rgb(133, 135, 255);
}

.light-theme .affirmations-close {
  position: absolute; 
  bottom: 80px; 
  left: 50%; 
  transform: translateX(-50%);
  background-color: #AFBBF4;
  border: none;
  transition: 0.4s ease;
  border-radius: 25px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.dark-theme .affirmations-close {
  position: absolute; 
  bottom: 80px; 
  left: 50%; 
  transform: translateX(-50%);
  background-color: rgb(93, 96, 249);
  color: white;
  border: none;
  transition: 0.4s ease;
  border-radius: 25px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.light-theme .affirmations-close:hover {
  background-color: #c9d1fb;
}

.dark-theme .affirmations-close:hover {
  background-color: rgb(133, 135, 255);
}

.affirmation-text {
  margin-top: -3px;
  margin-left: 10px;
}

/*-------- goal styling --------*/
.light-theme .goals-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  height: 200px;
  border-radius: 5px;
}

.dark-theme .goals-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #26262a;
  color: white;
  height: 200px;
  border-radius: 5px;
}

.light-theme .add-goal-button {
  padding: 5px;
  border: none;
  background-color: #AFBBF4;
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  transition: 0.4s ease;
}

.dark-theme .add-goal-button {
  padding: 5px;
  border: none;
  background-color: rgb(93, 96, 249);
  color: white;
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  transition: 0.4s ease;
}

.light-theme .add-goal-button:hover {
  background-color: #c8cfef;
}

.dark-theme .add-goal-button:hover {
  background-color: rgb(133, 135, 255);
}

.goals-container h3 {
  margin-left: 10px;
}

.goals-page-container h2 {
  margin-left: 10px;
}

.goal-list {
  list-style: none;
  margin-left: -30px;
  height: 90px;
  overflow-y: auto;
}

.goal-page-list {
  list-style: none;
  margin-left: -30px;
  height: 500px;
  overflow-y: auto;
}

.goals-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  width: 97%;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow-y: auto;
}

.light-theme .goals-container li:hover {
  background-color: #f4f4f4;
}

.dark-theme .goals-container li:hover {
  background-color: #37373c;
}

.goal-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.light-theme .goal-form-container {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 320px;
}

.dark-theme .goal-form-container {
  position: relative;
  background-color: #26262a;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 320px;
}

.light-theme .single-goal-form-container {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 430px;
}

.dark-theme .single-goal-form-container {
  position: relative;
  background-color: #26262a;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 430px;
}

.single-goal-form-container h2 {
  text-align: center; 
  margin-bottom: 20px;
}

.light-theme .completed-goal-container {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 380px;
}

.dark-theme .completed-goal-container {
  position: relative;
  background-color: #26262a;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 380px;
}

.completed-goal-container h2 {
  text-align: center; 
  margin-bottom: 20px;
}

.completed-goal-container ul {
  height: 240px;
  overflow-y: auto;
}

.completed-goal-container li {
  list-style: none;
  margin-left: -20px;
  margin-bottom: 10px;
}

.goal-form-container h2 {
  text-align: center; 
  margin-bottom: 20px;
}

.goal-form-container p {
  text-align: center; 
  margin-bottom: 30px;
}

.goal-form-container form {
  display: flex;
  flex-direction: column;
}

.goal-form-container label {
  margin-bottom: 5px;
}

.light-theme .goal-form-container input {
  width: 98%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.dark-theme .goal-form-container input {
  width: 98%;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #37373c;
  color: white;
  border: 1px solid black;
}

.light-theme .goal-add-submit {
  background-color: #AFBBF4;
  border: none;
  transition: 0.4s ease;
  border-radius: 25px;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  margin-top: -12px;
}

.dark-theme .goal-add-submit {
  background-color: rgb(93, 96, 249);
  color: white;
  border: none;
  transition: 0.4s ease;
  border-radius: 25px;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  margin-top: -12px;
}

.light-theme .goal-add-submit:hover {
  background-color: #c9d1fb;
}

.dark-theme .goal-add-submit:hover {
  background-color: rgb(133, 135, 255);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.goal-tasks-flex {
  display: flex;
  justify-content: space-between;
}

.goal-tasks ul {
  height: 150px;
  overflow-y: auto;
}

.goal-tasks li {
  list-style: none;
  margin-left: -30px;
  margin-bottom: 10px;
}

.goal-tasks-button {
  margin-right: 10px;
}

.goal-task-flex {
  display: flex;
  justify-content: space-between;
}

.light-theme .goal-task-bar {
  height: 30px;
  padding: 3px;
  word-wrap: break-word;
  border: 1px solid black;
  border-radius: 5px;
  width: 83%;
}

.dark-theme .goal-task-bar {
  height: 30px;
  padding: 3px;
  word-wrap: break-word;
  border: 1px solid black;
  border-radius: 5px;
  width: 83%;
  background-color: #37373c;
  color: white;
}

.light-theme .goal-task-button {
  border-radius: 25px;
  border: none;
  background-color: #AFBBF4;
  transition: 0.4s ease;
  cursor: pointer;
  padding: 10px;
}

.dark-theme .goal-task-button {
  border-radius: 25px;
  border: none;
  background-color: rgb(93, 96, 249);
  color: white;
  transition: 0.4s ease;
  cursor: pointer;
  padding: 10px;
}

.light-theme .goal-task-button:hover {
  background-color: #c9d1fb;
}

.dark-theme .goal-task-button:hover {
  background-color: rgb(133, 135, 255);
}

.goal-task-bottom-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.goal-task-bottom-flex button {
  height: 30px;
  margin-top: 10px;
}

.goal-tasks-button {
  cursor: pointer;
  transition: 0.4s ease;
  font-size: large;
}

.goal-tasks-button:hover {
  opacity: 50%;
}

/*to do full page*/
.todo-top-flex {
  display: flex;
  justify-content: space-between;
}

.todo-back-button {
  margin-left: 20px;
}
